:root {
    /* #1C1829 */
    --background: rgb(28, 24, 41);
    /* #EFEDE4 */
    --foreground: rgb(239, 237, 228);
}

* {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
        serif;

    margin: 0;
    padding: 0;

    background: var(--background);
    color: var(--foreground);
}

*::selection {
    background: var(--foreground);
    color: var(--background);
}

body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
}

p#fps {
    position: absolute;
    top: 0;
    left: 0;

    padding: 5px;

    font-size: 14px;

    display: none;
}

p#nocam,
p#error {
    width: 100vw;

    position: absolute;
    top: 0;

    text-align: center;
    background: transparent;
}

p#error {
    display: none;
}

div#screenWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;

    border: none;
    outline: none;

    padding: 5px;

    font-size: 14px;
    background: var(--background);

    text-decoration: underline;
}

button:hover {
    text-underline-offset: 2px;
    background: var(--foreground);
    color: var(--background);
}

button#settingsBtn,
button#pauseBtn {
    display: none;
}

button#startBtn {
    position: absolute;
    top: 0;
    left: 0;
}

button#infoBtn {
    position: absolute;
    bottom: 0;
    right: 0;
}

div#settingsModal {
    /* position: relative;

    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;

    width: fit-content;
    height: fit-content;

    background: var(--foreground);
    
    */

    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);

    display: none;
    border: none;
    background-color: var(--foreground);

    width: 30rem;
    z-index: 10;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

div#backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: none;
    background: rgba(0, 0, 0, 0.5);
}

nav#panel {
    width: 100%;
    display: none;
}

nav#panel ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

canvas,
video {
    width: 0;
    height: 0;
    z-index: -1;
    visibility: hidden;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
