:root {
    --background: rgb(28, 24, 41);
    --foreground: rgb(239, 237, 228);
}

* {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
        serif;

    margin: 0;
    padding: 0;

    background: var(--background);
    color: var(--foreground);
}

*::selection {
    background: var(--foreground);
    color: var(--background);
}

p#fps {
    position: absolute;
    top: 0;
    left: 0;

    padding: 5px;

    font-size: 14px;

    display: none;
}

p#nocam,
p#error {
    width: 100vw;

    position: absolute;
    top: 0;

    text-align: center;
    background: transparent;
}

p#error {
    display: none;
}

div#screenWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    position: absolute;
    cursor: pointer;

    border: none;
    outline: none;

    padding: 5px;

    font-size: 14px;

    text-decoration: underline;
}

button:hover {
    text-underline-offset: 2px;
    background: var(--foreground);
    color: var(--background);
}

button#settingsBtn {
    display: none;
    top: 0;
    right: 0;
}

button#pauseBtn {
    display: none;
    bottom: 0;
    right: 0;
}

button#startBtn {
    top: 0;
    left: 0;
}

button#themeBtn {
    bottom: 0;
    left: 0;
}

div#settingsModal {
    position: absolute;

    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;

    background: var(--foreground);
    display: none;
}

div#settingsModal * {
    color: black;
}

canvas,
video {
    width: 0;
    height: 0;
    z-index: -1;
    visibility: hidden;
}
